.AfterImage {
    background-color: black;
}
.AfterImage__circle {
    height: 70vh;
    width: 70vh;
    max-width: 1000vw;
    border-radius: 100%;
    background-color: white;
}
.AfterImage__centerDot {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: black;
}