.AfterImage {
    background-color: black;
}
.AfterImage__circle {
    height: 70vw;
    width: 70vw;
    border-radius: 100%;
    background-color: white;
}
.AfterImage__centerDot {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: black;
}