/**
 * steps pattern from http://lea.verou.me/css3patterns/#steps
 * http://nicolasgallagher.com/
 */

.BezoldEffect__bricks {
    height: 80%;
    width: 40%;
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px, 0px 36px, 4px 2px, 29px 6px, 33px 30px;
}
.BezoldEffect__bricks--touching {
    transform: scale3d(1.25,1,1);
}