.HarmonyCircles__block {
    width: 90%;
    height: 40%;
    border-radius: 10%;
}
.HarmonyCircles__mainCircle {
    height: 95%;
    width: 30%;
}
.HarmonyCircles__secondaryCircle {
    height: 92%;
    width: 92%;
}
.HarmonyCircles__fourthCircle {
    height: 82%;
    width: 82%;
}
.HarmonyCircles__innermostCircle {
    height: 25%;
    width: 25%;
}