.IllusionOfTransparence__leftBlock {
    height: 80%;
    top: 50%;
    right: 0;
    width: 75%;
    transform: translate3d(0, -50%, 0);
}
.IllusionOfTransparence__leftInnerBlock {
    height: 80%;
    width: 50%;
    top: 50%;
    right: 0;
    transform: translate3d(0, -50%, 0);
}
.IllusionOfTransparence__rightBlock {
    height: 64%;
    top: 50%;
    left: 0;
    width: 75%;
    transform: translate3d(0, -50%, 0);
}