.SpaceIllusion__top {
    height: 30%;
    align-items: flex-end;
}
.SpaceIllusion__middle {
    height: 40%;
}
.SpaceIllusion__bottom {
    height: 30%;
}
.SpaceIllusion__smallBarOuter {
    width: 7%;
    height: 60%;
}
.SpaceIllusion__smallBarInner {
    width: 7%;
}