.TwoDifferentColorsLookAlike__innerBlock {
    height: 80%;
    width: 10%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 30deg);
}
.TwoDifferentColorsLookAlike__innerBlock--touching {
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 0deg) scale3d(10, 0.1, 1);
}
