.VibratingBoundaries__circle00 {
    height: 34%;
    width: 42%;
    top: 3%;
    left: 2%;
}
.VibratingBoundaries__circle01 {
    height: 83%;
    width: 83%;
    top: 8%;
    left: 8%;
}
.VibratingBoundaries__circle10 {
    height: 43%;
    width: 54%;
    top: 18%;
    left: 44%;
}
.VibratingBoundaries__circle11 {
    height: 85%;
    width: 85%;
    top: 7%;
    left: 4%;
}
.VibratingBoundaries__circle12 {
    height: 80%;
    width: 80%;
    top: 16%;
    left: 10%;
}
.VibratingBoundaries__circle13 {
    height: 80%;
    width: 80%;
    top: 16%;
    left: 14%;
}
.VibratingBoundaries__circle14 {
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
}
.VibratingBoundaries__circle20 {
    height: 45%;
    width: 57%;
    top: 54%;
    left: 8%;
}
.VibratingBoundaries__circle21 {
    height: 77%;
    width: 77%;
    top: 17%;
    left: 4%;
}
.VibratingBoundaries__circle22 {
    height: 93%;
    width: 93%;
    top: 4%;
    left: 4%;
}
.VibratingBoundaries__circle23 {
    height: 70%;
    width: 70%;
    top: 23%;
    left: 8%;
}