.Modal__closeButton {
    padding: 16px;
    top: -43px;
    right: -36px;
    background-color: black;
    color: white;
    font-weight: 900;
}
.Modal__backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.Modal__contents {
    padding: 16px;
    position: fixed;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: white;
    z-index: 3;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}