.homeLink {
    height: 270px;
    width: 192px;
    padding: 16px;
    border: 4px solid rgb(208, 193, 160);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}
.homeLink__thumbnail {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}
.homeLink__thumbnailPiece--aColorHasManyFacesLeftBlock {
    width: 50%;
}
.homeLink__thumbnailPiece--AfterImageCircle {
    height: 70%;
    width: 70%;
}